webassets==0.12.1
Flask_Login==0.4.1
Flask_DebugToolbar==0.10.1
Flask_Script==2.0.6
pytest==4.0.1
Flask==1.0.2
WTForms==2.2.1
Flask_Assets==0.12
Flask_Cache==0.13.1
Flask_WTF==0.14.2
pandas==0.23.4
Werkzeug==0.15.3
Flask_SQLAlchemy==2.3.2
Flask_Bootstrap==3.3.7.1
gunicorn

